@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
h2,h3{
    background-color: hsla(30, 7%, 5%, 0.7);
    
}
body{
    background-image: url("/html/assests/images/1.jpg");
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment:fixed;
    }
#box
{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid red;
}
.tri

{
    width:0;
    height:0;
    border-left:50px solid black;
    border-right:50px solid black;
    border-bottom:100px solid red;
}

#ip1{
    border:2px solid black;
    border-radius: 20px;
}